.custom-link-button {
    color: "darkblue"; /* Dark blue color */
    text-decoration: none; /* Remove underline */
    background-color: transparent; /* Make background transparent */
    border: none; /* Remove border */
    padding: 0; /* Remove padding */
  }
  
  .custom-link-button:hover {
    text-decoration: underline; /* Underline on hover */
  }
  